{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href= {% static "components/bootstrap/dist/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href= {% static "src/css/main.css" %}>
</head>
<body>

    <section id="main">
        <ul id="book-list">

        </ul>
    </section>

    <script type="text/template" id="book-item-overview-template">
        <div class="book-item-overview">
            <div class="image">
                <img src=<%= image%> />
            </div>
            <div class="summary">
                <ul>
                    <li><%= name%></li>
                    <li><%= author%></li>
                    <li><%= price%></li>
                </ul>
            </div>
        </div>
    </script>

    <script data-main={% static "src/js/main" %} src={% static "components/requirejs/require.js" %}></script>
</body>
</html>