{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href= {% static "components/bootstrap/dist/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href= {% static "src/css/main.css" %}>
</head>
<body>
    ssssss
    <section id="main">
        <ul id="book-list">

        </ul>
    </section>

    <script type="text/template" id="book-item-overview-template">
        <div class="book-item-overview">
            <div class="image">
                <img src=<%= image%> />
            </div>
            <div class="summary">
                <ul>
                    <li><%= name%></li>
                    <li><%= author%></li>
                    <li><%= price%></li>
                </ul>
            </div>
        </div>
    </script>

    <script src={% static "components/seajs/dist/sea-debug.js" %}></script>
    <script>
      // Set configuration
      seajs.config({
        base: "{% static "" %}",
        alias: {
          "$": "components/jquery/dist/jquery.js",
          "underscore": "components/underscore/underscore.js",
          "backbone": "components/backbone/backbone.js"
        }
      });
      // 加载入口模块
      seajs.use("{% static "src/js/main" %}");
    </script>
</body>
</html>