{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href= {% static "components/bootstrap/dist/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href= {% static "src/compass/stylesheets/main.css" %}>
</head>
<body>

    <section id="main">
        <ul id="book-list">

        </ul>
    </section>

    <script data-main={% static "src/js/main" %} src={% static "components/requirejs/require.js" %}></script>
</body>
</html>